<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="ion-padding" color="primary">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/icon/favi.ico" />
      </ion-thumbnail>
      <ion-label>IndraStore</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header color="primary" class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-list-header mode="ios">
        <ion-label>Promociones</ion-label>
      </ion-list-header>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slidesOptions" mode="ios" pager="ios">
    <ion-slide
      class="image-slide"
      [style]=" ( off.img  | domSanitizer) "
      *ngFor="let off of offers | async"
    >
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-list-header mode="ios">
      <ion-label>Marcas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let sponsor of sponsorship | async " lines="none">
      <ion-avatar slot="start">
        <img class="sponsor__img" [src]="sponsor.img" />
      </ion-avatar>
      <ion-label>
        <h3>{{sponsor.name | titlecase}}</h3>
        <p>{{ sponsor.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <app-fab-cart></app-fab-cart> -->
