<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header color="primary" class="ion-no-border" collapse="condense">
    <ion-toolbar>
      <ion-list-header mode="ios">
        <ion-label>Promociones</ion-label>
      </ion-list-header>
    </ion-toolbar>
  </ion-header>

  <ion-slides [options]="slidesOptions" mode="ios" pager="ios">
    <ion-slide class="ion-margin" *ngFor="let item of [1,1,1,1]">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content> Awesome content </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-list-header mode="ios">
      <ion-label>Productos Populares</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]" lines="none">
      <ion-avatar slot="start">
        <img />
      </ion-avatar>
      <ion-label>
        <h3>SubTitulo</h3>
        <p>Parrafo</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <app-fab-cart></app-fab-cart> -->
